<section class="w-full relative">
    <article class="images"></article>
    <article class="absolute -bottom-4 w-full">
       <div class="flex justity-center flex-col-reverse items-center gap-10 min-h-full">
            <h1 class="text-white opacity-45 text-8xl absolute font-semibold mb-24">TMDB</h1>
            <form class="absolute -bottom-3 w-3/4 lg:w-2/4 md:w-11/12 sm:w-11/12" [formGroup]="movie" 
            (ngSubmit)="onSubmit()" autocomplete="off">
                <input type="text" name="searchMovie" id="searchMovie" placeholder="Press Enter to search" class="bg-neutral-950 px-4 py-4 text-white font-md border-0 outline outline-1 -outline-offset-1 outline-zinc-600 rounded-md w-full focus:outline-teal-900 focus:outline-2" formControlName="searchMovie">
            </form>
       </div>
    </article>
</section>
<section class="flex flex-row sm:flex-col md:flex-col lg:flex-row items-center min-h-screen w-full smart-p">
   <!--  <p class="text-5xl text-red-600 font-semibold">search-movie works!</p> -->
   @for (item of result; track item.id) {
    <article class="border border-slate-500 border-gray-500 rounded-md lg:w-9/12 md:w-10/12 sm:w-10/12 flex justify-center sm:flex-col md:flex-row lg:flex-row items-center gap-5 p-3 md:p-3 sm:p-3 sm:mt-20 smart-container mx-auto">
        <img [src]="item.homepage + item.poster_path" alt="Photo" class="rounded-md" width="350" height="300">
        <div class="flex flex-col justify-start items-start text-white gap-5">
            <h2 class="font-semibold text-3xl">{{item.title}}</h2>
            <div class="flex justify-start items-start gap-5">
                @if(item.genres.length > 0){
                    @for (genre of item.genres; track genre.id) {
                        <button class="bg-zinc-600 px-2 py-1 rounded-md text-sm">{{ genre.name }}</button>
                    }
                }@else {
                    <button class="bg-zinc-600 px-2 py-1 rounded-md text-sm">Generos no Disponibles</button>
                }
                
            </div>
            <p class="font-md text-gray-500">
                {{ item.overview }}
            </p>
            <div>
                <p class="text-white text-sm"><span class="text-gray-500 text-2x1">Company: </span> {{ item.production_companies.length > 0 ? item.production_companies[0].name +", "+item.production_companies[1].name : "La información no está disponible"}} </p>
                <p class="text-white text-sm"><span class="text-gray-500 text-2x1">Countries: </span> {{ item.production_countries.length > 0 ? item.production_countries[0].name +", "+ item.production_countries[1].name: "La información no está disponible" }}</p>
                <p class="text-white text-sm"><span class="text-gray-500 text-2x1">Languajes: </span> {{ item.spoken_languages.length > 0 ? item.spoken_languages[0].english_name +", "+ item.spoken_languages[1].english_name : "La información no está disponible" }}</p>
                <p class="text-white text-sm"><span class="text-gray-500 text-2x1">ImDB raiting: </span> Raiting {{ item.vote_average }}/10 ({{ item.vote_count }})</p>
            </div>
        </div>
    </article>
    }
</section>